# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.log
.venv/
venv/
env/

# Node / React
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
dist/
build/

# Environment & system
.env
.DS_Store
Thumbs.db
